*, .container {box-sizing: border-box}

@font-face {
  font-family: "kaiti";
  src: local("Kaiti TC"), url("fonts/kaiu_DF_kai.ttf") format("truetype");
  font-weight: 100 1000;
  font-stretch: 25% 151%;
  font-display: auto;
}

.kai-ti {
  font-family: "kaiti", sans-serif;
}

body {
  font-family: "kaiti", sans-serif;
  font-weight: 400;
  line-height:normal;
  -webkit-font-smoothing:subpixel-antialiased;
  -moz-osx-font-smoothing:grayscale;
  text-rendering:optimizeLegibility;
}